

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    padding-top:70px;
}

.navbar-inverse{
    color: white;

}

.navbar-header{
    text-align: center;
}


.navbar-brand{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 25px;
    left: 50%;
    transform:translateX(-50%);
    left:50%;
    color: white;
    position: absolute;

}

.navbar-toggle{
    margin-top: 16px;
}

#signup{
    width:50%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#signup:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

