{% extends "index.html" %}

{% block brand %}
<a class="navbar-brand" href="{{ url_for('dashboard') }}"><strong>ProfilePal</strong></a>
{% endblock %}
{% block header%}

<ul class="nav navbar-nav nav-flex-icons ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile') }}">
            <i class="fa fa-user"></i>
            <span class="clearfix d-none d-sm-inline-block">Account</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logOut') }}">
            <i class="fa fa-gear"></i>
            <span class="clearfix d-none d-sm-inline-block">Logout</span>
        </a>
    </li>

</ul>


{% endblock %}

{% block main %}
<form method="POST">
    <div class="row" >
        <div class="jumbotron col-md-10 resume">
            <h1 class="h1-responsive">Resume Feedback</h1>
            <p class="lead">Make sure your latest resume is uploaded to generate its feedback</p>
            <hr class="my-2">
            <p>
            </p>
            <button class="btn btn-outline-primary btn-lg" role="button" name="resume" type="submit" onclick="loading('#resume')">Analyze Resume<span><svg id="resume" class="spinner"style="display:none" viewBox="0 0 50 50">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                </svg></span></button>

            {% if not resume %}
                Upload Resume here: <strong><a href="{{url_for('editprofile')}}">Edit Profile</a> </strong>
            {% endif %}
            {% if score %}
                {{score}}
            {% endif %}
        </div>

        <div class="jumbotron col-md-10 photo">
            <h1 class="h1-responsive">Photo Feedback</h1>
            <p class="lead">Make sure your photo that is used for professional use is uploaded to generate its feedback</p>
            <hr class="my-2">

            <div>
                <button class="btn btn-outline-success btn-lg" role="button" name="photo" type="submit" onclick="loading('#photo2')">Analyze Photo<span><svg id="photo2" class="spinner" style="display:none" viewBox="0 0 50 50">
                        <circle class="path2" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                </svg></span></button> <span>
                {% if not photo %}
                Upload Photo here: <strong><a href="{{url_for('editprofile')}}">Edit Profile</a> </strong>
                {% endif %}
            </span>
            </div>
            <p class="float-left">
            {% if photo %}
                {% if emotions %}
            <div class="text-center">
            <img style="max-width: 100%; height: auto; min-height:250px; max-height:250px; " style="width:auto; min-height:200px; max-height:250px; height: auto;"  id="photo"src="{{url_for('static',filename='img/photo.jpg')}}">
            <br>

            Anger: {{emotions.anger}}<br>
            Joy: {{emotions.joy}}<br>
            Suprise: {{emotions.surprise}}
        </div>
            {% endif %}

            {% endif %}
            </p>
        </div>

</form>
<script type="text/javascript">
    var d = new Date();
    console.log("{{ url_for('static',filename='img/photo.jpg') }}" + "?ver=" + d.getTime())
    document.getElementById("photo").src = "{{ url_for('static',filename='img/photo.jpg') }}" + "?ver=" + d.getTime()
    function loading(id){
        $(id).show()
    }

</script>
{% endblock %}
