{% extends "index.html" %}


{% block main %}

    <section class="form-elegant" id="signup">

        <!--Form without header-->

        {% if error %}
            <div class="alert alert-danger" role="alert">
                Incorrect <strong>email or password</strong>. Please try again.
            </div>
        {% endif %}


        <div class="card">
            <form method="POST">
                <div class="card-body mx-4">

                    <!--Header-->
                    <div class="text-center">
                        <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
                    </div>

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="Form-email1" name="inputEmail" class="form-control">
                        <label for="Form-email1">Your email</label>
                    </div>

                    <div class="md-form pb-3">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" name="inputPassword" id="Form-pass1" class="form-control">
                        <label for="Form-pass1">Your password</label>
                    </div>

                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-blue btn-block btn-rounded z-depth-1a" name="action" value="login">Sign in</button>
                    </div>

                </div>

                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="{{ url_for('signup') }}" class="blue-text ml-1"> Sign Up</a></p>
                </div>
            </form>
        </div>
        <!--/Form without header-->

    </section>


{% endblock %}