{% extends "index.html" %}

{% block content %}
    <h1>Welcome to</h1>
    <h2>ProfilePal </h2>
    <form method="post">
        <input type="text" placeholder="user name" name="username">
        <input type="password" placeholder="password" name="password">
        <br /><br />
        <input type="radio" name="action" value="signUp" checked> sign up!<br>
        <input type="radio" name="action" value="logIn"> log in!<br>
        <input type="submit" value="done!">
    </form>
{% endblock %}