<!doctype html>
<html>
<head>
    <title>ProfilePal</title>
    <meta charset="UTF-8">
    <style>
        h1 {
            color: red;
            font-size: 77px;
        }
    </style>
</head>

<body>
    <h1><font face="calibri">ProfilePal </font></h1>
    <h2>Hello, {{user}}</h2>
    
    <div id="logout">
        <form method="post">
            <input type="submit" name="log out" value="log out">
        </form>
    </div>
    <div id="cancelAccount">
        <form method="post">
            <input type="submit" name="del acc" value="delete account">
        </form>
    </div>

</body>

</html>