{% extends "dashboard.html" %}


{% block main %}
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 lead">User profile<hr></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src=">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="only-bottom-margin">User Name</h1>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="text-muted">Name</span> Jane Doe<br>
                                        <span class="text-muted">Email:</span> email@test.com<br>
                                        <span class="text-muted">Birth date:</span> 01.01.2001<br>
                                        <span class="text-muted">Gender:</span> male<br><br>
                                        <span class="text-muted">Address:</span> 1970 W 6th St, Brooklyn, NY 11223<br><br>
                                        <small class="text-muted">Created: 01.01.2015</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr><button class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i>Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}