{% extends "dashboard.html" %}


{% block main %}

    <h1 class="page-header">Edit Profile</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block well well-sm">
            </div>
            <br>
            <br>
            <br>
            <div class="text-center">
                <h6>Upload a different Resume...</h6>
                <input type="file" class="text-center center-block well well-sm">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>
            <h3>Personal info</h3>
            <form class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="firstName" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="lastName" type="text">
                    </div>
                </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Street Address</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" name="streetAddress" type="text">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-lg-3 control-label">Zip Code</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="zipCode" value="" type="text">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-lg-3 control-label">City</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" name="city" type="text">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-lg-3 control-label">Country</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" name="country"type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="email" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" name="username" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input class="form-control" name="password"type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input class="form-control" name="confirmPassword" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-primary" name="confirm" value="Save Changes" type="button">
                        <span></span>
                        <input class="btn btn-default" name="cancel" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}