{% extends "index.html" %}



{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark double-nav" sy>



        {% endblock %}
{% block main %}

    <section class="form-light">


         {% if error %}
            <div class="alert alert-danger " role="alert">
                <strong>Email</strong> already exists. Try again!
            </div>
         {% endif %}
        {% if success %}
            <div class="alert alert-success" role="alert">
                Successfully signed up. Login <a href="{{ url_for('login') }}">here!</a> </strong>
            </div>
        {% endif %}
        <!--Form without header-->
        <div class="card card2" id="signup">


            <div class="card-body mx-4">

                <!--Header-->
                <div class="text-center">
                    <h3 class="white-text mb-5"><strong>Sign up</strong></h3>
                </div>

                <!--Body-->
                <form method="POST">
                    <div class="md-form">
                        <i class="fa fa-user prefix black-text"></i>
                        <input type="text" id="Form-name" name="name" class="form-control white-text" >
                        <label for="Form-email2" class="white-text">Your name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix black-text"></i>
                        <input type="text" id="Form-email2" name="email" class="form-control white-text" >
                        <label for="Form-email2" class="white-text">Your email</label>
                    </div>

                    <div class="md-form pb-3">
                        <i class="fa fa-lock prefix black-text"></i>
                        <input type="password" id="Form-pass2" name="password" class="form-control white-text">
                        <label for="Form-pass2" class="text-white">Your password</label>

                    </div>
                    <!--Grid row-->
                    <div class="row d-flex align-items-center mb-4">

                        <!--Grid column-->
                        <button type="submit" class="btn btn-pink btn-block btn-rounded z-depth-1">Sign up</button>


                    </div>
                </form>
                <!--Grid row-->
            </div>

            <!--Footer-->
            <div class="footer pt-3 mdb-color lighten-3">

                <p class="font-small white-text d-flex justify-content-center" style="margin-bottom: 0px; padding-bottom: 16px"><strong>Have an account? <a href="{{ url_for('login') }}" class="white-text ml-1"> Log in</a></strong></p>


            </div>

        </div>
        <!--/Form without header-->

    </section>

        <script type="text/javascript">

    document.body.style.background= "url({{url_for("static",filename="img/background.jpg")}})"

    document.body.style.backgroundSize="cover"
</script>

{% endblock %}
{% block footer %}
<footer class="page-footer center-on-small-only ">
{% endblock %}
